:root {
    --background-color: PapayaWhip;
    --secondary-color: burlywood;
    --accent-color: darkred;
}

@font-face {
    font-family: 'Herculanum';
    src: url('./assets/Herculanum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--background-color);
    text-align: center;
    font-family: 'Herculanum',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding: 10px;
}

header > h1 {
    margin: 0;
    padding: 10px;
}

/* Nav */
.nav {
    padding: 0;
    margin-left: 25vw;
    margin-right: 25vw;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navItem {
    font-size: 1.2rem;
}

.navItem:hover {
    cursor: pointer;
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
}

.navItem:active {
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.4);
}

/* Content */
.content {
    padding: 10px;
}

/* Welcome Page */
.content>p {
    font-size: 1.1rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.content>img {
    margin: 10px;
    max-height: 250px;
}

/* Menu Page */
.contentInfo,
.contentInfo>li>ul {
    list-style: none;
    padding: 0;
}

.contentInfo>li {
    font-weight: 600;
    margin-top: 2rem;
    font-size: 1.4rem;
}

.contentInfo>li>ul>li {
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 0.5rem;

}

/* Resources Page */
a,
a:visited {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(0, 0, 0, 0.7);
}

a:hover {
    color: rgb(0, 0, 0, 0.8);
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
}

a:active {
    color: rgb(0, 0, 0, 0.9);
    text-shadow: 1px 1px 4px rgb(0, 0, 0, 0.4);
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: auto;
}